@using OnlineStore.Web.Data;
@using OnlineStore.Web.Models.UserModels;
@using static OnlineStore.Web.Infrastructure.GetPrincipalExtension;
@inject Microsoft.AspNetCore.Identity.UserManager<ApplicationUser> UserManager
@inject OnlineStoreDbContext dbContext


@model ItemDetailsViewModel

@{
    ViewBag.Title = "Item Details";
}

<div class="container my-5">
    <div class="row">
        <div class="col-md-6">
            <img class="img-fluid rounded" style="max-width: 50%;" src="@Model.ImageUrl" alt="Image" />
        </div>
        <div class="col-md-6 text-light">
            <h2 class="mb-4">@Model.Name</h2>
            <div class="bg-white p-3 rounded">
                <p class="lead text-dark">@Model.Description</p>
            </div>

            @if (User.Identity.IsAuthenticated)
            {
                var userId = this.User.GetId();
                var isBulkBuyer = dbContext.BulkBuyers.Any(b => b.UserId.ToString() == userId);

                <h4 class="mt-4">
                    Price:
                    <span class="text-primary">@($"{Model.Price:f2}") BGN</span>
                </h4>

                @if (isBulkBuyer)
                {
                    <h5>
                        Bulk Price:
                        <span class="text-success">@($"{Model.BulkPrice:f2}") BGN</span>
                    </h5>
                }
            }

            <p class="mt-4">
                <a class="btn btn-primary" asp-controller="Cart" asp-action="Add" asp-route-id="@Model.Id">Add to Cart</a>
            </p>
        </div>
    </div>
</div>
