@model ShoppingCartViewModel

@{
    ViewData["Title"] = "Shopping Cart";
}


@if(Model.CartItems.Count > 0)
{
    <table class="table">
        <tr>
            <th class="text-white">Product</th>
            <th class="text-white">Quantity</th>
            <th></th>
            <th class="text-white">Price</th>
            <th class="text-white">Total</th>
        </tr>
        @foreach (var item in Model.CartItems)
        {
            <tr>
                <td class="text-white">@item.ProductName</td>
                <td class="text-white">@item.Quantity</td>
                <td class="text-white">
                    <a class="btn btn-primary btn-sm" asp-action="Add" asp-route-id="@item.ProductId">+</a>
                    <a class="btn btn-primary btn-sm" asp-action="Decrease" asp-route-id="@item.ProductId">-</a>
                    <a class="btn btn-danger btn-sm" asp-action="Remove" asp-route-id="@item.ProductId">Remove</a>
                </td>
                
                @if (Model.IsUserCompanyRegistered)
                {
                    <td class="text-white">@item.BulkPrice.ToString() BGN</td>
                    <td class="text-white"> @Model.CartItems.Where(x => x.ProductId == item.ProductId).Sum(x => x.Quantity * x.BulkPrice).ToString() BGN</td>
                } 
                else
                {
                    <td class="text-white">@item.Price.ToString() BGN</td>
                    <td class="text-white"> @Model.CartItems.Where(x => x.ProductId == item.ProductId).Sum(x => x.Quantity * x.Price).ToString() BGN</td>
                }
                
            </tr>
        }
        <tr >
            <td class="text-right text-white" colspan="4">Grand Total: @Model.GrantTotal.ToString() BGN</td>
        </tr>
        <tr>
            <td class="text-right text-white" colspan="4">
                <a class="btn btn-danger" asp-action="Clear">Clear Cart</a>
                <a class="btn btn-primary" asp-action="Checkout">Checkout</a>
            </td>
        </tr>
    </table>
}
else 
{
       <h3 class="display-4 text-center text-white">Your cart is empty</h3>
    <div class="d-flex justify-content-center align-items-center" style="height: 50vh;">
        <a class="btn btn-outline-danger" asp-area="" asp-action="Products" asp-controller="Store" style="height: 100px; width: 300px; font-size: 24px; display: flex; justify-content: center; align-items: center;">Visit the Store!</a>
    </div>


    
}
@if (Model.GrantTotal >= 1000 && Model.IsUserCompanyRegistered == false)
{
    @if (Model.GrantTotal >= 1000 && Model.IsUserCompanyRegistered == false)
    {
        <script src="~/js/notificationBulk.js"></script>
        <script>
            showConfirmation('@Url.Action("RegisterCompany", "BulkBuyer")');
        </script>
    }

}

