@using OnlineStore.Web.Models.UserModels;
@using OnlineStore.Web.Data;
@using static OnlineStore.Web.Infrastructure.GetPrincipalExtension;
@inject Microsoft.AspNetCore.Identity.UserManager<ApplicationUser> UserManager
@inject OnlineStoreDbContext dbContext
@model AllItemsViewModel

<div class="col-lg-3 col-md-4 col-sm-6 mb-4">
    <div class="card bg-black text-light">
        <div class="card-body d-flex flex-column align-items-center">

            <div class="d-flex justify-content-center" style="max-height: 180px;">
                <img class="card-img-top" src="@Model.ImageUrl" alt="Image" style="max-width: 200px; max-height: 180px;" />
            </div>
            <h4 class="text-center">@Model.Name</h4>

            @if (User.Identity.IsAuthenticated)
            {
                var userId = this.User.GetId();

                var isBulkBuyer = dbContext.BulkBuyers.Any(b => b.UserId.ToString() == userId);

                <h6 class="text-center">
                    Price:
                    <b>@($"{Model.Price:f2}") BGN</b>
                </h6>

                @if (isBulkBuyer)
                {
                    <h6 class="text-center">
                        Bulk Price:
                        <b>@($"{Model.BulkPrice:f2}") BGN</b>
                    </h6>
                }
            }
            <br />
            <a asp-area="" asp-controller="Store" asp-action="Details" asp-route-id="@Model.Id" class="btn btn-success w-100">Details</a>
        </div>
    </div>
</div>
