
@model ForumCategoryViewModel
@{
    ViewData["Title"] = Model.Name;
    var posts = Model.Posts;
}
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/OnlineStore.Web.styles.css" asp-append-version="true" />
</head>


<h1 class="text-center text-light">@Model.Name</h1>


<div class="container-fluid bg-gradient col-md-10" >
    <hr/>
    <div class="align-content-center d-flex justify-content-center" style="margin-top: 50px;">
        <a class="btn btn-outline-success" asp-action="CreatePost" asp-controller="Forum" asp-route-categoryId="@Model.Id">Create Post</a>
    </div>
    <hr />

    @foreach (var post in posts)
    {
        if (post.IsActive)
        {
             <div class="container-fluid col-md-6 section-outline-category align-content-center" style="padding: 10px;">
                <div>
                     <a href="@Url.Action("ViewPost", "Forum", new { Id = post.Id })" class="larger-post-title">@post.Title</a>
                </div>
                <hr />
                <div>
                    <h10>Created: @post.CreatedOn</h10>
                </div>
                <div>
                    <h10>Comments: @post.Replies.Count()</h10>
                </div>
            
            </div>
        }
           
    }
</div>


