
@using OnlineStore.Web.Models.UserModels;
@using System.Text;
@model PostViewModel

@{
    ViewBag.Title = Model.Title;
}

@functions{
    private string GetProfileImage(ApplicationUser user)
    {
        if (user.PictureSource == null)
    {
            return "/images/default-user-picture.png";
        }
        else
        {
            string base64Image = Convert.ToBase64String(user.PictureSource);
            string imageSrc = $"data:image/png;base64,{base64Image}";
            return imageSrc;
        }
    }
}
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/OnlineStore.Web.styles.css" asp-append-version="true" />
</head>

<h2 class="text-center text-light">@ViewBag.Title</h2>
<hr />

<div class="container-fluid col-md-6 section-outline-maindiv align-content-center">
    <div class="row">
        <div class="col-2">
            <img src="@GetProfileImage(Model.Poster)" alt="User Image" class="img-fluid rounded-circle">
            <h6>@Model.Poster.DisplayName</h6>
            <p>Posted at: @Model.CreatedAt</p>
        </div>
        <div class="col-10">
            <p class="section-post-outline text-dark">@Model.Text</p>
        </div>
    </div>
    <hr />

    @foreach (var reply in Model.Replies)
    {
        if (reply != null)
        {
            <div class="row">
                <div class="col-2">
                    <img src="@GetProfileImage(reply.User)" alt="User Image" class="img-fluid rounded-circle">
                    <h6>@reply.User.DisplayName</h6>
                    <p>Posted at: @reply.CreatedOn</p>
                </div>
                <div class="col-10">
                    <p class="section-comment-outline text-dark">
                        @reply.Message
                    </p>
                </div>
            </div>
            <hr />
        }
    }

    @if (User.Identity.IsAuthenticated)
    {
        <h5 class="align-content-center text-light">Reply!</h5>
        @Html.Partial("_CreateReplyPartial", new ReplyFormModel { PostedAtId = Model.Id })
    }
</div>

